body {
    font-family: 'JetBrainsMono', sans-serif;
    padding-top: 0;
    transition: padding-top 0.3s ease;
    width: 100%;
}

.kbps-main-wrapper {
    max-width: var(--max-content-width) !important;
    margin: auto;
}

.hidden {
    position: relative;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


@media (max-width: 768px) {
    body {
        padding-top: 0;
        transition: padding-top 0.3s ease;
    }
}
