:root {
    --max-content-width: 1200px;
    --content-padding: 20px;

    /*
    --kbps-global-color-main: #917c65;
    --kbps-global-color-secondary: #726659;
    --kbps-global-color-background: #ffffff;
    --kbps-global-color-text: #000;
    --kbps-global-color-text-white: #ffffff;
    --kbps-global-color-text-light: #7b7b7b;
    --kbps-global-color-custom-01: #a9a18c;
    --kbps-global-color-custom-02: #93a57d;
*/
}
