input, textarea, select, button {
    all: unset;
    cursor: text;
}

input:focus, textarea:focus {
    outline: none;
}

.main-footer {
  background: #fff;
  margin-top: 4rem;
  padding: 40px 0;
  /*border-top: 1px solid #c63232;*/
}

.footer-container {
  display: flex;
  max-width: var(--max-content-width, 1200px);
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.footer-section {
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  position: relative;
}


.actions-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.footer-actions {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.back-to-top {
  align-self: flex-end;
  margin-bottom: auto; /* Оттолкнёт от лого */
}

.footer-logo {
  margin-top: 4rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
}


.footer-logo img {
  max-height: 80px;
  width: auto;
}

.footer-info-menu {
  margin-top: 3rem;
}

.footer-info-menu a {
  color: var(--kbps-global-color-main);
  line-height: 2;
  font-size: medium;
  font-weight: 400;
}

.footer-info-menu a:hover {
  color: var(--kbps-global-color-secondary);
  text-decoration: underline;
}


@media (max-width: 768px) {
  .footer-info-menu {
    margin-top: 0;
  }

  .footer-info-menu a {
    line-height: 1.6;
    font-size: small;
    font-weight: 400;
  }
}



.form-section {
  flex-basis: 50%;
}

.footer-order-form-container {
  max-width: 100%;
}

.form-row.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid var(--kbps-global-color-secondary);
  min-width: 140px;
  max-width: 100%;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.form-row label {
  flex: 0 1 80px;
  white-space: nowrap;
  margin-right: 2rem;
  color: #555;
}

.form-row input {
  flex: 1 1 auto;
  min-width: 30px;
  border: none;
  background: transparent;
  padding: 5px;
  outline: none;
}

.form-row input:focus {
  background: var(--kbps-global-color-main);
  color: white;
}

.submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: var(--kbps-global-color-main);
  color: white;
  border: none;
  cursor: pointer;
}

.actions-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
}

.button-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--kbps-global-color-main);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
}


.button-arrow:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}





@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      position: relative;
  }
  
  .footer-section {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
  }
  
  .footer-actions {
    flex-direction: row;
    width: 100%;
  }

  .actions-section {
      padding-left: 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
  }

  .footer-logo {
    align-self: flex-start;
    display: flex;
    transform: unset;
    order: 1;
  }

  .footer-actions button {
    order: 2;
  }

}




#wedding-date {
  color: transparent;
}
#wedding-date:valid {
  color: inherit;
}


#form-message {
  margin: 20px 0;
  padding: 15px;
  border-radius: 4px;
}

.loading-message {
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.success-message {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.error-message ul {
  margin: 10px 0 0 20px;
  padding: 0;
}



.footer-copyright-container {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.footer-copyright {
  font-size: x-small;
  font-weight: 200;
  display: inline-block;
}


@media (max-width: 420px) {
  .footer-actions {
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }
}


.payment-gateway-logos {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  max-width: 800px;
  gap: 1rem;
}

@media (max-width: 420px) {
  .payment-gateway-logos{
    flex-direction: column;
  }
}

.comgate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.comgate span {
  white-space: nowrap;
  font-size: 0.9rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: x-small;
  font-weight: 200;
}

.comgate img {
  height: auto;
  max-height: 30px;
  width: auto;
  display: block;
}


.footer-comgate-logo-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    max-height: 600px;
}

.footer-comgate-logo-line img {
    max-height: 100%;
    height: auto;
    width: 100%;
    max-width: calc(100% / 8 - 10px);
    object-fit: contain;
}


