.wedding-blocks-wrapper {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.wedding-block-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 0;
    min-height: 500px;
    height: auto;
    overflow: visible;
}

.wedding-blocks-wrapper .wedding-block-container:first-child {
    margin-top: 0;
}

.wedding-block__big-photo-wrapper img {
    display: block;
    height: 100%;
    object-fit: contain;
}

.wedding-block__small-photo-wrapper img {
    display: block;
    height: 100%;
    object-fit: cover;
}

.wedding-block{
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wedding-block__big-photo-wrapper,
.wedding-block__small-photo-wrapper.photo-1, 
.wedding-block__small-photo-wrapper.photo-2,
.wedding-block__text-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.wedding-block__text-wrapper p {
    font-weight: 200;
    font-size: medium;
}




/*BLOCK 1*/
.wedding-block.block-1{
    display: grid;
    grid-template-columns: 32fr 26fr 42fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "big small-1 ."
    "big .       text";
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wedding-block__big-photo-wrapper.block-1 {
    grid-area: big;
}

.wedding-block__small-photo-wrapper.photo-1.block-1 {
    grid-area: small-1;
}

.wedding-block__text-wrapper.block-1 {
    grid-area: text;
}

/*BLOCK 2*/
.wedding-block.block-2{
    display: grid;
    grid-template-columns: 32fr 38fr 30fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "small-1 big  ."
    "text    big  small-2";
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wedding-block__big-photo-wrapper.block-2 {
    grid-area: big;
}

.wedding-block__small-photo-wrapper.photo-1.block-2 {
    grid-area: small-1;
}

.wedding-block__small-photo-wrapper.photo-2.block-2 {
    grid-area: small-2;
}

.wedding-block__text-wrapper.block-2 {
    grid-area: text;
    align-self: end;
}


/*BLOCK 3*/
/*
.wedding-block.block-3{
    display: grid;
    grid-template-columns: 50fr 20fr 30fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "big  small-1  ."
    "big .         small-2";
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
    */

.wedding-block.block-3{
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "big  small-1  ."
    "big .         small-2";
    gap: 1rem;
    width: 100%;
    height: auto;
    min-height: unset;
}



.wedding-block__big-photo-wrapper.block-3 {
    grid-area: big;
    justify-self: end;

}

.wedding-block__small-photo-wrapper.photo-1.block-3 {
    grid-area: small-1;
}

.wedding-block__small-photo-wrapper.photo-2.block-3 {
    grid-area: small-2;
}

.wedding-block__text-wrapper.block-3 {
    grid-area: text;
}

/*
.wedding-block__small-photo-wrapper.photo-2.block-3 img {
    display: block;
    height: unset;
    width: 100%;
    object-fit: cover;
}
*/
.wedding-block__small-photo-wrapper.photo-2.block-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*BLOCK 4*/
.wedding-block.block-4{
    display: grid;
    grid-template-columns: 30fr 40fr 30fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "small-1  big   text"
    ".        big   small-2";
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wedding-block__big-photo-wrapper.block-4 {
    grid-area: big;
    justify-self: right;
    
}

.wedding-block__small-photo-wrapper.photo-1.block-4 {
    grid-area: small-1;
    justify-self: center;
}

.wedding-block__small-photo-wrapper.photo-2.block-4 {
    grid-area: small-2;
}

.wedding-block__text-wrapper.block-4 {
    grid-area: text;
}

.wedding-block__small-photo-wrapper.photo-2.block-4 img {
    display: block;
    height: unset;
    width: 100%;
    object-fit: cover;
}

.cake-image-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/*Cake Model Indicator*/

.cake-card__model {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--kbps-global-color-custom-02);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    transition: background-color 0.3s ease;
}

@media (min-width: 1023px) {
    .cake-card__model {
        width: 38px;
        height: 38px;
    }

    .wedding-block-container {
        height: auto;
        min-height: 500px;
    }
}

.slider.cake-card:hover .cake-card__model {
    background-color: var(--kbps-global-color-secondary);
}










/* Mobile Styles */
@media (max-width: 768px) {

    .wedding-block__text-wrapper p {
        font-weight: 200;
        font-size: 2.5vw;
    }


    .wedding-block-container {
        height: auto;
        min-height: 400px;
    }

    .cake-photo-link {
        display: block;
        width: 100%;
        height: 100%;
    }


    .wedding-block__big-photo-wrapper img,
    .wedding-block__small-photo-wrapper img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Hide specific elements on mobile */
    .wedding-block__small-photo-wrapper.photo-2.block-1,
    .wedding-block__text-wrapper.block-3,
    .wedding-block__small-photo-wrapper.photo-2.block-3 {
        display: none;
    }

    /* BLOCK 1 Mobile */
    .wedding-block.block-1 {
        grid-template-columns: 64fr 46fr;
        grid-template-rows: 20% 40% 40%;
        grid-template-areas:
            "text text"    
            "big  small-1"
            "big  .      ";
        gap: 0.6rem;
    }

    /* BLOCK 2 Mobile */
    .wedding-block.block-2 {
        grid-template-columns: 40fr 30fr 30fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "small-1 text text"
            "small-1 big big"
            ".       big big"
            ".       big big";
        gap: 0.6rem;
    }

    /* BLOCK 3 Mobile */
    .wedding-block.block-3 {
        grid-template-columns: 70fr 30fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "big .      "
            "big small-1";
        gap: 0.6rem;
    }

    /* BLOCK 4 Mobile */
    .wedding-block.block-4 {
        grid-template-columns: 40fr 60fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            ".       text"
            ".       big"
            "small-1 big"
            "small-1 big"
            ".       big";
        gap: 0.6rem;
    }

    /* Cake Model Indicator adjustments for mobile if needed */
    .cake-card__model {
        bottom: 15px; /* Adjust position for smaller screens */
        left: 10px;
        width: 36px;
        height: 36px;
        font-size: 10px;
    }
}