.wedding-blocks-wrapper {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.wedding-block-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 800px;
    max-height: 70vh;
    overflow: hidden;
}

.wedding-blocks-wrapper .wedding-block-container:first-child {
    margin-top: 0;
}

.wedding-block__big-photo-wrapper img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wedding-block__small-photo-wrapper img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wedding-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wedding-block__big-photo-wrapper {
    grid-column: span 2;
    grid-row: span 2;
    overflow: hidden;
}

.wedding-block__small-photo-wrapper.photo-1 {
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
}

.wedding-block__small-photo-wrapper.photo-2 {
    grid-column: 3;
    grid-row: 2;
    overflow: hidden;
}

.wedding-block__text-wrapper {
    overflow: hidden;
}