/*WOOCOMMERCE*/

.woocommerce a.button  {
    color: var(--kbps-global-color-text-white);
    background-color: var(--kbps-global-color-main);
}
.woocommerce a.button:hover  {
    color: var(--kbps-global-color-text-white);
    background-color: var(--kbps-global-color-secondary);
}

.woocommerce-Price-amount {
    color: var(--kbps-global-color-secondary);
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    height: 400px;
}

.woocommerce ul.products li.product .button {
    margin-top:auto;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-weight: 200;
    font-size: smaller;
    font-style: normal;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.product .add_to_cart_button {
    margin-top: auto;
}

.product .woocommerce-LoopProduct-link {
    /* flex-grow: 1; */
    /* padding-bottom: 15px; */
}

.kbps-cart-count {
    background-color: var(--kbps-global-color-secondary);
    color: white;
}